@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.portfolio {
    width: 100%;
    background-color: #F8F9FA;
    margin-top: 5rem;
    padding: 8rem 0;
    display: flex;
    flex-direction: column;

    &__nav {
        display: none;

        @include m.tablet {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 45%;
            margin: 0 auto;
            margin-bottom: 2rem;

        }
    }

    &__link {
        font-size: 1.6rem;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.4);
        padding: 0.6rem 1rem;
        text-align: center;
        min-width: 25%;
        height: 100%;

        &:focus, &:hover{
            border-bottom: 2px solid v.$primary05;
            color: v.$primary05;
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, minmax(44rem, 1fr));
        gap: 2rem;

        @include m.tablet {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, minmax(35rem, 1fr));
        }

        @include m.desktop {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, minmax(35rem, 1fr));
            gap: 3rem;
        }
    }

    &__gridBox {
        background-color: cyan;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center right;

        &:nth-child(1) {
            background-image: url(/assets/img/Portafolio__Guitarra.png);
        }

        &:nth-child(2) {
            background-image: url(/assets/img/Portafolio__RealState.png);
        }

        &:nth-child(3) {
            background-image: url(/assets/img/Portafolio__Podcast.png);
        }

        &:nth-child(4) {
            background-image: url(/assets/img/Portafolio__BienenRaices.png);
            background-position: top center;
        }

        &:nth-child(5) {
            background-image: url(/assets/img/Portafolio__Nucleus.png);
            background-position: center center;
        }

        &:nth-child(6) {
            background-image: url(/assets/img/Portafolio__TechPro.png);
            background-position: center center;
        }
    }



}